
<!--main-container-part-->
<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-4">
                <div class="title white_back">
                    <h3> Filter <span> FULL VIEW <span class="blue_icon"><img src="../webhtml/images/blue_arow.png" ></span></span></h3>
                    <div class="filter">
                        <p> Transport</p>
                        <div style="text-align:center">
                            <ul class="tabs_cstm">
                                <li ng-click="active(1)" ng-class="(is_active==1)?'active':''"><a  >all</a></li>
                                <li ng-click="active(2)" ng-class="(is_active==2)?'active':''"> <a  >New</a></li>
                                <li ng-click="active(3)" ng-class="(is_active==3)?'active':''"><a  >Used</a></li>
                            </ul>
                        </div>
                        <p> Catagory</p>
                        <div class="filter_img">
                            <div class="form-group">
                                <select class="form-control"  id="exampleFormControlSelect1">

                                    <option ng-repeat="cat in category"  value="{{cat.id}}" >{{cat.name}}</option>

                                </select>
                            </div>
                            <img class="down" src="../webhtml/images/down.png">
                        </div>
                        <p> Type</p>
                        <div class="filter_model">
                          <select class="form-control" ng-model="type_id"  id="exampleFormControlSelect1">

                              <option ng-repeat="typ1 in type"  value="{{typ1.id}}" >{{typ1.name}}</option>

                          </select>
                            <!-- <label class="content" ng-repeat="typ1 in type">{{typ1.name}}
                                <input type="checkbox" value="{{typ1.id}}" >
                                <span class="checkmark"></span>
                            </label> -->

                        </div>
                        <p> Make</p>
                        <div class="form-group srch_filter">
                            <i class="fas fa-search"></i>
                            <input type="text" class="form-control" ng-model="make" placeholder="Type make">
                        </div>

                        <p> Model</p>
                        <div class="form-group srch_filter">
                            <i class="fas fa-search"></i>
                            <input type="text" class="form-control" name="modal" ng-model="modal" placeholder="Type Model">
                        </div>

                        <p> Location</p>
                        <div class="filter_img">
                            <div class="form-group">
                                <input type="text" name="state" placeholder="State" ng-model="state" class="form-control">

                            </div>
                            <img class="down" src="../webhtml/images/down.png">
                        </div>
                        <div class="filter_img">
                            <div class="form-group">
                                <input type="text" name="city" placeholder="City" ng-model="city" class="form-control">
                            </div>
                            <img class="down" src="../webhtml/images/down.png">
                        </div>
                        <div class="filter_img">
                            <div class="form-group">
                                <input type="text" name="zip_code" placeholder="State" ng-model="zip_code" class="form-control">
                            </div>
                            <img class="down" src="../webhtml/images/down.png">
                        </div>
                        <p> Price</p>
                        <p>
                            <label for="amount">Price range:</label>
                            <input type="text"  id="amount" readonly style="border:1px; color:#08c; font-weight:bold;">
                        </p>
                        <div class="range_slider">
                            <div id="slider-range"></div>
                        </div>
                        <p> Year</p>
                         <p>
                            <label for="amount">Year range:</label>
                            <input type="text" id="amount1" readonly style="border:1px; color:#08c; font-weight:bold;">
                        </p>
                        <div class="range_slider">
                            <div id="slider-range1"></div>
                        </div>
                        <div class="advnc_stngs">
                            <p> <a href="" >Advanced Settings + </a></p>
                            <a ng-click="find()"  class="blu_filter"> show results</a>
                            <a ng-click="find()"  class="white_filter"> show results</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="title white_back results">
                    <h3> Results </h3>

                    <span class="filter_sort">
                        <div class="form-group"> <span>Sort </span>
                            <select class="form-control filter_top" ng-model="filter" id="exampleFormControlSelect1">

                                <option value="created">By date</option>
                                <option value="price">Price</option>
                            </select>
                        </div>
                        <img class="down" src="../webhtml/images/down.png">
                    </span>

                    <div class="row">
                        <div class="col-md-6" ng-show="car_details.length > 0" ng-repeat="ads in car_details | orderBy:[filter,'-created'] ">
                            <div class="products_list">
                                <a class="main_img" ng-click="details(ads)" ><img src="{{ads.images[0].images}}" > </a>
                                <div class="border_lines">
                                    <h2> {{category_name}}</h2>
                                    <div class="col-xs-4 features">
                                        <p>Condition <br><span ng-bind="ads.condition"> </span></p>
                                    </div>
                                    <div class="col-xs-3 features">
                                        <p>Year <br><span> {{ads.year}}</span></p>
                                    </div>
                                    <div class="col-xs-5 features">
                                        <p>Date Added <br><span> 24/09/2017</span></p>
                                    </div>
                                    <div class="line_div">
                                        <div class="col-xs-5 rate_color">
                                            <p>$ {{ads.price}}</p>
                                        </div>
                                        <div class="col-xs-7 fvrt">
                                            <p> {{ads.comment_count}} <a  > <img src="../webhtml/images/msg.png"> </a>  {{ads.like_count}} <a  ><img ng-click="fav(ads)" ng-if="ads.is_fav == 1" src="../webhtml/images/hrt1.png"> <img ng-click="fav(ads)" ng-if="ads.is_fav == 0" src="../webhtml/images/hrt.png"> </a> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12"	ng-show="!car_details.length > 0">
                            <center><img style="margin-top:100px" src="http://www.sumaris.pl/ishop/pageload.gif" height="100px" width="100px"/></center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">

</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
                            $(function () {
                                $("#slider-range").slider({
                                    range: true,
                                    min: 0,
                                    max: 50000000,
                                    values: [75, 300],
                                    slide: function (event, ui) {
                                        $("#amount").val(ui.values[ 0 ] + " - " + ui.values[ 1 ]);
                                    }
                                });
                                $("#slider-range1").slider({
                                    range: true,
                                    min: 1990,
                                    max: 2050,
                                    values: [2000, 2030],
                                    slide: function (event, ui) {
                                        $("#amount1").val( ui.values[ 0 ] + " - " + ui.values[ 1 ]);
                                    }
                                });
                                $("#amount").val($("#slider-range").slider("values", 0) +
                                        " - " + $("#slider-range").slider("values", 1));
                                $("#amount1").val( $("#slider-range1").slider("values", 0) +
                                        " - " + $("#slider-range1").slider("values", 1));
                            });
</script>
