

<!--main-container-part-->
<div id="content" class="wishlist">
	 <div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-6">
				<div class="title white_back">
					<div class="media">

							<div class="dlt_optn">
							<h4 class="media-heading">Desktop Notifications
							<span class="on_off">

              <label class="switch">
                <input ng-model="is_notification_on" ng-change="updateProfile()" ng-checked="(is_notification_on==1)?'checked':''" type="checkbox">
                <span class="slider round"></span>
              </label>
							</span></h4>

							</div>
              <button ng-click="show(0)" class="btn btn-info" >Privcay Polices</button>
              <button ng-click="show(1)" class="btn btn-info" >Service Agreement</button>
            </div>
					</div>



				</div>
			</div>

		</div>
	 </div>
</div>






<!--end-main-container-part-->

<!--Footer-part-->
