<div class="page-wrapper" >
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Category</h3>
    </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/!">Home</a></li>
        <li class="breadcrumb-item active">Category</li>
      </ol>
    </div>
    <div>
      <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Category list</h4>  <button type="button" class="btn btn-info btn-rounded pull-right" ng-click="add()" >Add Category</button>
                      <h6 class="card-subtitle"></h6>
                      <div class="table-responsive">
                          <table id="demo-foo-addrow" class="table m-t-30 table-hover  contact-list" data-page-size="10">
                              <thead>
                                  <tr>

                                      <th><center>Name</center></th>
                                     <th><center>status</center></th>

                                      <th><center>Action</center></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="cat in all_cat">

                                      <td style="width:56px">
                                      <center>  {{cat.name}}</center>
                                      </td>
                                      <td style="width:56px"><center><span ng-click="update_status(cat)" class="label " ng-class="(cat.status==1)?'label-success':'label-danger'"><span ng-bind="(cat.status==1)?'Active':'Deactive'"></span></span><center> </td>


                                      <td style="width:56px">

                                                        <center>  <button  ng-click="edit(cat)" class="btn btn-info lable-small" >Edit</button><button ng-click="delete(cat)" class="btn btn-danger" >Delete</button></center>



                                          </td>


                                  </tr>

                              </tbody>
                              <tfoot>
                                  <tr>
                                      <td colspan="2">

                                      </td>
                                      <div  id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                          <div style="position: absolute;width: 50%;left: 50%;top: 50%;transform: translate(-50%, -50%);" class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                      <h4 class="modal-title" id="myModalLabel">Edit Category</h4> </div>
                                                  <div class="modal-body">
                                                      <from class="form-horizontal form-material" name="add_cat">
                                                        <div class="row p-t-20">
                                                            <div class="col-md-12" ng-class="(add_cat.name.$touched && add_cat.name.$invalid)?'has-danger':''">
                                                                <div class="form-group">

                                                                    <input type="text" name="name" ng-model="name" required class="form-control" placeholder="Name">

                                                                    <small ng-show="add_cat.name.$touched && add_cat.name.$invalid" class="form-control-feedback"> Name filed is required </small> </div>
                                                            </div>
                                                            <!--/span-->

                                                            <!--/span-->
                                                        </div>
                                                      </from>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" ng-click="add_cat(user)" class="btn btn-info waves-effect" data-dismiss="modal">Update</button>

                                                  </div>
                                              </div>
                                              <!-- /.modal-content -->
                                          </div>
                                          <!-- /.modal-dialog -->
                                      </div>
                                      <td colspan="7">
                                          <div class="text-right">
                                              <ul class="pagination"> </ul>
                                          </div>
                                      </td>
                                  </tr>
                              </tfoot>
                          </table>
                      </div>

                  </div>
              </div>
              <!-- Column -->



          </div>
      </div>
