<div class="page-wrapper" >
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Plan </h3>
    </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/!">Home</a></li>
        <li class="breadcrumb-item active">Plan</li>
      </ol>
    </div>
    <div>
      <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
          <div class="col-12">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Plan listing</h4>   <input type="text" ng-model="text" class="  pull-right" placeholder="Search" >
                    <h6 class="card-subtitle"></h6>
                    <button type="button" class="btn btn-info btn-rounded " ng-click="type_add()" >Add Plan</button>
                    <div class="table-responsive">
                          <table id="demo-foo-addrow" class="table m-t-30 table-hover  contact-list" data-page-size="10">
                              <thead>
                                  <tr>

                                      <th><center>Name</center></th>
                                      <th><center>Price</center></th>
                                      <th><center>Description</center></th>
                                      <th><center>Time</center></th>
                                      <th><center>status</center></th>
                                      <th><center>Action</center></th>
                                  </tr>
                              </thead>
                              <tbody>

                                  <tr ng-show="all_plan.length==0"><td>No record Found</td></tr>
                                  <tr  ng-show="all_plan.length>0" ng-repeat="cat in all_plan | filter:text">

                                      <td>
                                      <center>  {{cat.name}}</center>  </td>
                                    <td>  <center>  {{cat.price}}</center> </td>
                                    <td>  <center>  {{cat.description}}</center> </td>
                                    <td>  <center>  {{cat.time}}</center> </td>

                                      <td ><center><span ng-click="update_status(cat)" class="label " ng-class="(cat.status==1)?'label-success':'label-danger'"><span ng-bind="(cat.status==1)?'Active':'Deactive'"></span></span><center> </td>


                                      <td>

                                <center>  <button  ng-click="edit(cat)" class="btn btn-info lable-small" >Edit</button><button ng-click="delete(cat)" class="btn btn-danger" >Delete</button></center>



                                          </td>


                                  </tr>

                              </tbody>
                              <tfoot>
                                  <tr>
                                      <td colspan="2">

                                      </td>
                                      <div  id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                          <div style="position: absolute;width: 50%;left: 50%;top: 50%;transform: translate(-50%, -50%);" class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">

                                                      <h4 class="modal-title" >{{name}}</h4> </div>
                                                  <div class="modal-body">
                                                    <form name="add_type"  id="add_type">
                                                        <div class="form-body">

                                                            <div class="row p-t-20">
                                                                <div class="col-md-4" ng-class="(add_type.name.$touched && add_type.name.$invalid)?'has-danger':''">
                                                                    <div class="form-group">
                                                                        <label class="control-label">Name</label>
                                                                        <input type="text" name="name" ng-model="name" required class="form-control" placeholder="Name">
                                                                        <small ng-show="add_type.name.$touched && add_type.name.$invalid" class="form-control-feedback"> Name filed is required </small> </div>
                                                                </div>
                                                                <!--/span-->
                                                                <div class="col-md-4">
                                                                    <div class="form-group " ng-class="(add_type.price.$touched && add_type.time.$invalid)?'has-danger':''">
                                                                        <label class="control-label">Price</label>
                                                                        <input type="number" name="price" ng-model="price" required class="form-control" placeholder="Price">
                                                                        <small ng-show="add_type.price.$touched && add_type.price.$invalid" class="form-control-feedback"> Price field is required. </small> </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group " ng-class="(add_type.time.$touched && add_type.time.$invalid)?'has-danger':''">
                                                                        <label class="control-label">Time in month</label>
                                                                        <input type="number" name="time" ng-model="time" required class="form-control" placeholder="Time">
                                                                        <small ng-show="add_type.time.$touched && add_type.time.$invalid" class="form-control-feedback"> Time field is required. </small> </div>
                                                                </div>

                                                            </div>
                                                              <div class="row p-t-20">
                                                                <div class="col-md-12">
                                                                    <div class="form-group " ng-class="(add_type.description.$touched && add_type.description.$invalid)?'has-danger':''">
                                                                        <label class="control-label">Description</label>
                                                                        <textarea  name="description" ng-model="description" required class="form-control" placeholder="Description"></textarea>
                                                                        <small ng-show="add_type.description.$touched && add_type.description.$invalid" class="form-control-feedback"> description field is required. </small> </div>
                                                                </div>

                                                              </div>


                                                        </div>
                                                        <div class="form-actions">


                                                        </div>
                                                    </form>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <center>  <button type="submit" id="avc" ng-click="plan_update(plan)" ng-disabled="add_type.$invalid" class="btn btn-success"> <i class="fa fa-check"></i> Update</button>
                                                        <button type="button"  data-dismiss="modal"  class="btn btn-inverse">Cancel</button></center>

                                                  </div>
                                              </div>
                                              <!-- /.modal-content -->
                                          </div>
                                          <!-- /.modal-dialog -->
                                      </div>
                                      <td colspan="7">
                                          <div class="text-right">
                                              <ul class="pagination"> </ul>
                                          </div>
                                      </td>
                                  </tr>
                              </tfoot>
                          </table>
                      </div>

                  </div>
              </div>
              <!-- Column -->



          </div>
      </div>
